<div>
  <div class="gButton-box gButton-new-box popup-shown">

    <div class="gButton-central gButton-entry white"> <!-- Add class 'in-view' to show it -->
      <h5>Thanks for signing up</h5>
      <img class="thank-you-img" src="https://stage-ps.giftconnect.com/gbtn/img/gift-icon.svg" alt="">
      <div class="gButton-brand-list">
        <h4>Enjoy gifts from</h4>
        <ul class="gButton-img-list">
          <li><img src="img/nestle-logo.png" alt="Nesle"></li>
          <li><img src="img/mcdonalds-logo.png" alt="Nesle"></li>
          <li><img src="img/amazon-logo.png" alt="Nesle"></li>
          <li><img src="img/hellofresh-logo.png" alt="Nesle"></li>
        </ul>
      </div>
      <p class="gButton-powered">powered by GiftConnect</p>
    </div><!-- / Initial white box -->

    <div class="gButton-slider-outer"> <!-- Add class 'in-view' to show it -->

      <ul class="gButton-slider">
        <li class="current">
          <img src="@@logoUrl" alt="" class="brand-logo">
          <div class="gButton-slide" style="background-image:url(@@giftImageUrl);">
            <!-- Add class 'congrats-in-view' to show Congrats box -->
            <div class="gButton-slide-content gButton-entry">
              <h6>@@modalExplainer</h6>
              <h4>@@giftName</h4>
              <fieldset>
                <input type="text" placeholder="Your Email" class="gButton-gift-email-input"
                       onkeyup="GiftButton.keyUpEmailInput(event)"
                       onfocus="GiftButton.emailInputFocus(event)"
                       onblur="GiftButton.emailInputBlur(event)">
                <button onclick="GiftButton.getGift()">Take this gift</button>
                <span class="error invalid-email">@@modalEmailFormInvalidEmail</span>
                <div class="error gifted-email">@@modalEmailFormGiftedEmail</div>
                <div class="error no-gifts">@@modalEmailFormNoGifts</div>
              </fieldset>
            </div>
            <div class="congrats-box gButton-entry">
              <h4>Congratulations!<br>
                Your gift code is:</h4>
              <p>238798743</p>
              <a class="btn" onclick="GiftButton.openRedeemLink()">@@modalCongratulationsClickToRedeem</a>
              <a class="congrats-bottom" onclick="GiftButton.getMoreGifts()">@@modalCongratulationsGetMoreGifts</a>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div><!-- / Box outer wrapper -->
  <div class="gButton-popup-overlay popup-shown" onclick="GiftButton.closeGiftModal()"></div>
</div>